.logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/login.png'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}
